<div class="container">
  <div class="mt-5 mb-4 border-bottom profile-title">
    <div class="row">
      <div class="col-sm-4"><h1><strong>Edit Profile</strong></h1></div>
      <div *ngIf="editForm.dirty" class="col-sm-8 alert alert-success">
        <strong>Information:</strong> You have made changes. 
          Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}" 
        class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Location</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Joined since</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          
            <button [disabled]="!editForm.dirty" form="editForm" 
            class="btn btn-success btn-block"><i class="fa fa-save"></i> Save Changes</button>
          
        </div>
      </div>
    </div>
    <div class="col-sm-8 mb-5">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Details">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <strong class="mt-2">Description</strong>
              <textarea name="introduction" rows="6" class="form-control mb-3" 
              [(ngModel)]="user.introduction"></textarea>
              <strong class="">Looking for</strong>
              <textarea name="lookingFor" rows="6" class="form-control mb-3" 
              [(ngModel)]="user.lookingFor"></textarea>
               <strong class="">Interests</strong>
              <textarea name="interests" rows="6" class="form-control mb-3" 
              [(ngModel)]="user.interests"></textarea>
              <strong class="">Location Details:</strong>
              <div class="form-inlinr">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" 
                [(ngModel)]="user.city">
              </div>
              <label for="country">Country</label>
              <input type="text" name="country" class="form-control" [(ngModel)]="user.country">
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [photos]="user.photos" 
            (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>